[submodule "vimfiles/pack/plugins/opt/emmet-vim"]
	path = vimfiles/pack/plugins/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vimfiles/pack/plugins/opt/vim-surround"]
	path = vimfiles/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/pack/plugins/opt/CamelCaseMotion"]
	path = vimfiles/pack/plugins/opt/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vimfiles/pack/colors/opt/4colors"]
	path = vimfiles/pack/colors/opt/4colors
	url = https://github.com/mihaifm/4colors.git
[submodule "vimfiles/pack/plugins/opt/context.vim"]
	path = vimfiles/pack/plugins/opt/context.vim
	url = https://github.com/wellle/context.vim.git
[submodule "vimfiles/pack/plugins/opt/vim-css3-syntax"]
	path = vimfiles/pack/plugins/opt/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vimfiles/pack/plugins/opt/vim-coloresque"]
	path = vimfiles/pack/plugins/opt/vim-coloresque
	url = https://github.com/gko/vim-coloresque.git
[submodule "vimfiles/pack/plugins/opt/vim-prettier"]
	path = vimfiles/pack/plugins/opt/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vimfiles/pack/plugins/opt/gina.vim"]
	path = vimfiles/pack/plugins/opt/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
[submodule "vimfiles/pack/plugins/opt/vim-lsp"]
	path = vimfiles/pack/plugins/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vimfiles/pack/plugins/opt/vim-lsp-settings"]
	path = vimfiles/pack/plugins/opt/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vimfiles/pack/plugins/opt/asyncomplete.vim"]
	path = vimfiles/pack/plugins/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vimfiles/pack/plugins/opt/asyncomplete-lsp.vim"]
	path = vimfiles/pack/plugins/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vimfiles/pack/plugins/opt/asyncomplete-emmet.vim"]
	path = vimfiles/pack/plugins/opt/asyncomplete-emmet.vim
	url = https://github.com/prabirshrestha/asyncomplete-emmet.vim.git
[submodule "vimfiles/pack/plugins/opt/quickpick.vim"]
	path = vimfiles/pack/plugins/opt/quickpick.vim
	url = https://github.com/prabirshrestha/quickpick.vim.git
[submodule "vimfiles/pack/plugins/opt/quickpick-lsp.vim"]
	path = vimfiles/pack/plugins/opt/quickpick-lsp.vim
	url = https://github.com/prabirshrestha/quickpick-lsp.vim.git
[submodule "vimfiles/pack/plugins/opt/quickpick-buffers.vim"]
	path = vimfiles/pack/plugins/opt/quickpick-buffers.vim
	url = https://github.com/MartinAskestad/quickpick-buffers.vim.git
